<!DOCTYPE html>
<html>
    <head>
        <title>Stock Fluent</title>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='index.css') }}">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="#">
              <img src="bird.jpg" alt="logo" style="width:40px;">
            </a>
            
            <!-- Links -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about') }}">About</a>
              </li>
            </ul>
          </nav>
          <div class="container bg-secondary mt-3 p-3 pb-5 shadow">
            <h2>Användbara länkar om ni vill testa grejer här</h2>
            <ul>
              <li>
                <a href="https://www.w3schools.com/html/default.asp">HTML</a>
              </li>
              <li>
                <a href="https://www.w3schools.com/bootstrap4/default.asp">Bootstrap4</a>
              </li>
            </ul>
          </div>
    </body>
</html>