<!DOCTYPE html>
<html>
    <head>
        <title>Stock Fluent</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='index.css') }}">
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for msg in messages %}
              <div class="alert alert-success" role="alert"><p>{{msg}}</p></div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% if message %}
                <div class="alert alert-danger" role="alert"><p>{{message}}</p></div>
        {% endif %}
      <div id="loginForm">
        <form class="LoginForm" action="" method="POST">
            <div class="LoginDiv">
              <h2 class="text-center">New password</h2>  
              <div class="form-group">
                  <input type="text" name="code" class="form-control" placeholder="6-Digit code" required="required">
              </div>
              <div class="form-group">
                  <input type="password" name="password" class="form-control" id="password" placeholder="Password" required="required">
              </div>
              <div class="form-group">
                <input type="password" name="cpassword" class="form-control" id="confirm_password" placeholder="Confirm Password" required="required">
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">Change password</button>
              </div>
              <div class="clearfix">
                  <label class="float-left form-check-label">Don't want to change password?</label>
                  <a href="{{url_for('login')}}" class="float-right">Login here!</a>
              </div> 
            </div>      
        </form>
      </div>
      <script>
          var password = document.getElementById("password");
          var cpassword = document.getElementById("confirm_password");

          function validatePassword(){
              if(password.value != cpassword.value) {
                  cpassword.setCustomValidity("Passwords don't match!");
              } else{
                    confirm_password.setCustomValidity('');
              }
          }

          password.onchange = validatePassword;
          confirm_password.onkeyup = validatePassword;
      </script>
    </body>
    </html>

     