<!DOCTYPE html>
<html>
    <head>
        <title>Stock Fluent | Recommendations</title>
        <!-- <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='index.css') }}"> -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


        

    </head>
    <body>
      
        <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="#">
              <img src="{{ url_for('static', filename='images/stockfluent.png') }}" alt="logo" style="width:100px;">
            </a>
             
            <!-- Links -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('Algorithm') }}">Algorithm</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('recommendation') }}">Recommendations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
              </li>
            </ul>
          </nav>
          
          <div>
            <h2 class="mt-5 mb-5 ml-3">Recommendations</h2>
            <form action="" method="GET">
              <h5 class="mb-2 ml-3" >Filter</h5>
              <label class="ml-2 mr-2" for="stockID">Stock</label>
              <select id="stockID" name="stockID">
                <option value="AAPL">Apple Inc.</option>
                <option value="TSLA">Tesla Inc.</option>
                <option value="AMZN">Amazon</option>
                <option value="GOOGL">Google</option>
              </select>

                <label class="ml-2 mr-2" for="interval">Intervals</label>
                <select class="mb-3" id="interval" name="interval">
                  <option value="60min">60 minutes</option>
                  <option value="30min">30 minutes</option>
                  <option value="15min">15 minutes</option>
                  <option value="5min">5 minutes</option>
                  <option value="1min">1 minute</option>
                </select>
                <input class="ml-5 btn btn-primary" type="submit" name="value" value="Refresh">
            </form>
            <!-- <div class = "col-md-6 offset-md-3"></div>-->
          </div>


          <table class="table">
            <thead>
              <tr>
                <th scope="col">StockId</th>
                <th scope="col">Price</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Interval</th>
                <th scope="col">ReAction</th>
              </tr>
            </thead>
            <!-- Printar ut info på hemsidan genom att loopa igenom listan listDictonary -->
            {% for listDictonary in listDictonary %} 
            <tr>
              <td>{{ listDictonary['StockId'] }}</td>
              <td>{{ listDictonary['Price'] }}</td>
              <td>{{ listDictonary['oDate'] }}</td>
              <td>{{ listDictonary['oTime'] }}</td>
              <td>{{ listDictonary['Interval'] }}</td>
              <td>{{ listDictonary['ReAction'] }}</td>
            </tr>
              {% endfor %}
            </tbody>

          </table>
          <div class='container'>
            <canvas id="myChart" width="300" height="100"></canvas>
          </div>
      <div class="col-md-6 offset-md-3">


      <script>
        let myChart = document.getElementById('myChart').getContext('2d');
        let myChartNew = new Chart(myChart, {
          type:'line',
          data: {
            labels: {{  yValue|tojson  }},
            datasets: [{
              label: 'Pric',
              backgroundColor: 'rgba(220,220,220,0)',
              borderColor: 'rgb(0, 99, 132)',
              data: {{  xValue  }},   
            }]
          },
          options: {
            
          }
             
        });


        // function updateChart() {
        //   chart.data.datasets[0].data = 
        //   chart.update();
        // };




        
        // let myChart = document.getElementById('myChart').getContext('2d');
        // let myChartNew = new Chart(myChart, {
        //   type:'line',
        //   data: {
        //     labels: {{  yValue|tojson  }},
        //     datasets: [{
        //       label: 'Pris',
        //       backgroundColor: 'rgba(220,220,220,0)',
        //       borderColor: 'rgb(0, 99, 132)',
        //       data: {{  xValue  }},   
        //     }]
        //   },
        //   options: {}
        // });


            // function updateChart() {
            //   chart.data.datasets[0].data = [10, 20, 50, 20, 20, 30, 60];
            //   chart.update();
            // };

      </script>
    </body>
</html>